@model ShopCartViewModel

<div class="container">
    
    @if (Model.shopCart.ToPayList.Count == 0)
    {
        <h2>Cart is empty</h2>
    }

    @foreach (var el in Model.shopCart.ToPayList)

    {
        <div class="alert alert-warning mt-3">
            <b>Laptop: @el.Laptop.Name</b>
            <b>Price: @el.Laptop.Price</b>
        </div>

    }
    <hr/>
    <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="CheckOut">Check Out</a>
</div>