@model Order

<div class="mt-5">
    <h1>Finish order</h1>
    <form asp-action="CheckOut" method="post" class="form-text">
        <div class="col-md-5">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        
        <div class="col-md-5 mb-3">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" class="form-control"/>
            <span asp-validation-for="Surname" class="text-danger"></span>
        </div>
        
        <div class="col-md-5 mb-3">
            <label asp-for="Phone"></label>
            <input asp-for="Phone" class="form-control" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        
        <div class="col-md-5 mb-3">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        
        <div class="col-md-5 mb-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-md-3">
        <input class="btn btn-success" type="submit" value="Finish order"/>
        </div>
    </form>
</div>