body {
    background: slategrey;
}

* {
    font-size: 14px;
}

#product h2 {
    text-align: center;
     color: firebrick;
 }

#product h4 {
    color: forestgreen;
    text-align: center;
}

nav {
    margin-bottom: 10px;
}

.heading {
    color: #212529;
    font-size: 18px;
    font-weight: bold;
}

.description {
    color: #212529;
    font-size: 16px;
}

.laptop-image {
    background-size: cover;
    background-position: center;
    height: 150px;
    width: 300px;
}

#footer > .container {
    position: fixed;
    bottom: 0;
}


